
html, body {
    width: 100%;
    height: 100%;
    min-width: 600px;
    font-family: Arial, sans-serif;
    text-align: center;
}


.game-container {
    display: flex;
    flex-wrap: wrap; 
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

.card {
    flex: 0 0 18%; 
    height: 150px;
    margin: 1%;
    background-color: #4A69BD; /* Couleur de dos de carte (bleu) */
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}


.card:hover {
    background-color: #1e3799; /* Change de couleur au survol */
}

/* On cache l'image par défaut */
.card img {
    width: 80%;
    height: auto;
    opacity: 0; 
    transition: opacity 0.2s;
}

.card:active {
    background-color: white; 
}

.card:active img {
    opacity: 1; 
}